extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum

                p Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum

                p Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    |2orem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum